<html>
<title>Birthday app</title>
<body style="background-color: rgb(174,214,241);"><center>

<div>
   <h1><b>Hello there!</b></h1>
</div>

<form action="/birthday" method="post">
   <h2>What's your name?</h2>
   <input type=text name="name" style="width: 300px">
   <h2>When's your birthday?</h2>

 day: <input type=text name="day" style="width:25px">
 month: <select name="month" >
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">Septepmer</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
        </select>


        <br><input type=submit value="Go!" style="width: 300px;margin-top: 10px"/>
</form>
</center>
</body>
</html>